<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Nuevo Cliente</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body>

	<div class="container bg-info">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary text-center p-3">Listado de clientes</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/cliente/nuevo}">Nuevo Cliente</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10" th:if="${contCliente == 0}">
				<h4 class="text-center m-5">NO HAY CLIENTES CARGADOS</h4>
			</div>
			<div class="col-md-9 table-responsive" th:if="${contCliente > 0}"> <!--th:if="${contCliente > 0}"  -->
				<table class="table table-striped table-dark">
					<caption th:text=" 'Total de Clientes '+ ${contCliente}"></caption>
					<!--th:text=" 'Total de Clientes '+ ${contCliente}"  -->
					<tr>
						<th>Tipo de documento</th>
						<th>Número de documento</th>
						<th>Apellido y Nombre</th>
						<th>E-mail</th>
						<th>Fecha de nacimiento</th>
						<th>Fecha de UltimaCompra</th>
						<th>Edad</th>
						<th>Teléfono</th>
						<th>T desde Ultima Compra</th>
						<th>T desde Fecha nacimiento</th>
						<th>T hasta cumpleaños</th>

						<th>ACCIONES</th>
					</tr>
					<tr th:each="clie : ${clientes}">
						<td th:text="${clie.tipoDocumento}"></td>
						<td th:text="${clie.nroDocumento}"></td>
						<td class="mayus" th:text="${clie.Apellido} + ' ' + ${clie.Nombre}"></td>
						<td th:text="${clie.email}"></td>
						<td th:text="${#temporals.format(clie.fechaNacimiento, 'dd/MM/yyyy')}"></td>
						<td th:text="${#temporals.format(clie.fechaUltimaCompra, 'dd/MM/yyyy')}"></td>
						<td th:text="${clie.edad}"></td>
						<td th:text="${clie.codigoAreaTelefono} + '-' + ${clie.nroTeléfono}"></td>
						<td th:text="${clie.calular1}"></td>
						<td th:text="${clie.calular2}"></td>
						<td th:text="${clie.calular3}"></td>


						<td>
							<a class="btn btn-success btn-sm" th:href="@{/editar/} + ${clie.nroDocumento}"th:text="edita" title="modificar">
							</a>
							<a class="btn btn-danger btn-sm" th:href="@{/delet/} + ${clie.nroDocumento}"
								th:text="elimina" title="eliminar">
							</a>
						</td>

					</tr>

				</table>
			</div>
			<div class="col-md-2 col-sm-6 ">
				<aside th:include="layout/publi :: publi">

				</aside>
			</div>
		</div>


	</div>





	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>
<footer th:include="layout/foter :: footer">

</footer>

</html>