<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/styleProd.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

	<title>lista Cuentas</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body>

	<div class="container bg-info">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>

		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary text-center p-3">Listado de Cuentas</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/cuenta/nuevo}">nuevo Cuenta</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9" th:if="${contCuenta == 0}">
				<h4 class="text-center m-5">NO HAY CUENTAS CARGADAS</h4>
			</div>

			<div class="col-md-9 table-responsive" th:if="${contCuenta > 0}"> <!-- th:if="${contProd > 0}"-->
				<table class="table table-striped table-dark">
					<caption th:text=" 'Total de Cuentas: '+ ${contCuenta}"></caption>
					<!--th:text=" 'Total de Empleados'+ ${contProd}" -->
					<tr>
						<th>IdCueta</th>
						<th>Saldo</th>
						<th>Fecha de Creacion</th>
						

						<th>ACCIONES</th>
					</tr>
					<tr th:each="cue : ${cuentas}">
						<td th:text="${cue.id}"></td>
						<td th:text="${cue.saldo}"></td>
						<td th:text="${#temporals.format(cue.fechaCreacion, 'dd/MM/yyyy')}"></td>
					<!--	<td th:text="${cue.fechaCreacion}"></td> -->
						

						<td>
							<a class="btn btn-success btn-sm" th:href="@{/cuenta/editar/} + ${cue.id}" th:text="Editar"
								title="modificar">
							</a>
							<a class="btn btn-danger btn-sm" th:href="@{/cuenta/eliminar/} + ${cue.id}" th:text="Eliminar"
								title="eliminar">
							</a>
						</td>

					</tr>

				</table>
			</div>

			<div class="col-md-3 col-sm-6 ">
				<aside th:include="layout/publi :: publi">

				</aside>
			</div>
		</div>


	</div>




	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>
<footer th:include="layout/foter :: footer">

</footer>

</html>