<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>lista de Compras</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body>

	<div class="container bg-info">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary text-center p-3">Listado de COMPRAS</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/addcompra}">Nueva Compra</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10" th:if="${contCompra == 0}">
				<h4 class="text-center m-5">NO HAY COMPRAS CARGADOS</h4>
			</div>
			<div class="col-md-9 table-responsive" th:if="${contCompra > 0}"> <!--th:if="${contCliente > 0}"  -->
				<table class="table table-striped table-dark">
					<caption th:text=" 'Total de Compras '+ ${contCompra}"></caption>
					<!--th:text=" 'Total de Clientes '+ ${contCliente}"  -->
					<tr>
						
						<th>ID</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Marca</th>
						<th>Cantidad</th>
						

						<th>ACCIONES</th>
					</tr>
					<tr th:each="comp : ${compras}">
						
						<td th:text="${comp.id}"></td>
				<!--		<td th:text="${clie.apellido}"></td>
						<td th:text="${clie.nombre}"></td>
					<td th:text="${service.calcularEdad(clie.fechaNac)}"></td> 
				-->	
						<td th:text="${comp.cantidad}"></td>
						<td></td>
						<td></td>
						<td></td>

						<td>
							<a class="btn btn-success btn-sm" th:href="@{/editarCompra/} + ${comp.id}"
								th:text="edita" title="modificar">
							</a>
							<a class="btn btn-danger btn-sm" th:href="@{/deletCompra/} + ${comp.id}"
								th:text="elimina" title="eliminar">
							</a>
						</td>

					</tr>

				</table>
			</div>
			<div class="col-md-2 col-sm-6 ">
				<aside th:include="layout/publi :: publi">

				</aside>
			</div>
		</div>
		

	</div>





	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>
<footer th:include="layout/foter :: footer">
	
	</footer>

</html>