<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/styleProd.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Lista Producto</title>
	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			background: rgb(0, 0, 0);
		}
	</style>
</head>

<body>
	<div class="container bg-info">
		<div th:include="layout/cabecera :: cabecera"></div>
		<header th:include="layout/header :: header"></header>
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary text-center p-3">Listado de Producto</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/producto}">Nuevo Producto</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9" th:if="${contProd == 0}">
				<h4 class="text-center m-5">NO HAY PRODUCTOS CARGADOS</h4>
			</div>
			<div class="col-md-9 table-responsive" th:if="${contProd > 0}">
				<table class="table table-striped table-dark">
					<caption th:text="'Total de Productos '+ ${contProd}"></caption>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Marca</th>
						<th>Stock</th>
						<th>ACCIONES</th>
					</tr>
					<tr th:each="pro : ${productos}">
						<td th:text="${pro.codigo}"></td>
						<td th:text="${pro.nombre}"></td>
						<td th:text="${pro.precio}"></td>
						<td th:text="${pro.marca}"></td>
						<td th:text="${pro.stock}"></td>
						<td>
							<a class="btn btn-success btn-sm" th:href="@{/edit/} + ${pro.codigo}" th:text="edita"
								title="modificar"></a>

							<a class="btn btn-danger btn-sm" th:href="@{/del/} + ${pro.codigo}" th:text="eliminar"
								title="eliminar"></a>
							
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-3 col-sm-6">
				<aside th:include="layout/publi :: publi"></aside>
			</div>
		</div>
	</div>
	<footer th:include="layout/foter :: footer"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>