<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/styleProd.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Productos</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body class="text-center">
	<div th:include="layout/cabecera :: cabecera">

	</div>
	<h2 class="text-info m-3">El producto fue guardado con éxito</h2>
	<form th:object="${productoNuevo}" action="/producto/ultimo" method="get">
		<input class="btn btn-dark m-3" type="submit" value="Ver Datos Producto agregado">
	</form>

	<footer th:include="layout/foter :: footer">

	</footer>


	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>